@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*General styles*/

body {
    font-family: 'Anton',
        sans-serif;
}

/*choices area*/

.choices-area {
    width: 100%;
    padding-top: 5rem;
}

#players-choice {
    width: 100px;
    padding-left: 1rem;
}

#bots-choice {
    width: 100px;
    padding-left: 2rem;
}

/*Score area*/
#score-area {
    text-align: center;
    padding-top: 5rem;
}

/*selection area*/
.selection-area {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
}

.selection-area button {
    all: unset;
    font-size: 4rem;
    padding-right: 1rem;
}

/*media query:tablets and larger (820 and up)*/
@media screen and (min-width: 820px) {

    /* Heading of page*/
    #heading {
        font-size: 90px;
        text-align: center;
    }

    /*selection area*/
    .selection-area {
        position: absolute;
        bottom: 10%;
        text-align: center;
        width: 100%;
    }

    .selection-area button {
        all: unset;
        padding-right: 7rem;
        font-size: 4rem;
    }

    /*Choices area*/
    .choices-area {
        width: 100%;
        text-align: center;
    }

    #players-choice {
        width: 250px;
        padding-right: 5rem;
    }

    #bots-choice {
        width: 250px;
    }

    /*Score area*/
    #score-area {
        text-align: center
    }

    #score-area p {
        display: inline-block;
        margin: 5rem;
        font-size: 35px;
    }

    /*selection area*/
    .selection-area {
        position: absolute;
        bottom: 5%;
        text-align: center;
        width: 100%;
    }

    .selection-area button {
        all: unset;
        margin: 5rem;
        font-size: 4rem;
    }

}

/*media query:desktops and larger(1200px and wider)*/
@media screen and (min-width: 1200px) {

    /* Heading of page*/
    #heading {
        font-size: 150px;
        text-align: center;
    }

    /*Choices area*/
    .choices-area {
        width: 100%;
        text-align: center;
    }

    #players-choice {
        width: 450px;
        padding-right: 50rem;
    }

    #bots-choice {
        width: 450px;
    }

    /*Score area*/
    #score-area {
        text-align: center
    }

    #score-area p {
        display: inline-block;
        margin: 2rem;
        font-size: 45px;
    }

                /*selection area*/
                .selection-area {
                    position: absolute;
                    bottom: 0%;
                    text-align: center;
                    width: 100%;
                }
        
                .selection-area button {
                    all: unset;
                    margin: 5rem;
                    font-size: 7rem;
                }
}