@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#heading{
    font-family: 'Anton',
        sans-serif;
    font-size: 90px;    
    text-align: center;    
    padding-left: 2rem;
}

.selection-area{
    position: absolute;
    bottom: 10%;
    left: 20rem;
}

.selection-area button{
    all: unset;
    padding-right: 7rem;
    font-size: 4rem;
}

#players-choice{
    position: absolute;
    width: 250px;
    left: 30%;
}

#bots-choice{
    position: absolute;
    width: 250px;
    left: 55%;
}