@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#heading{
    font-family: 'Anton',
        sans-serif;
    font-size: 70px;    
    text-align: center;    
    padding-left: 2rem;
}